<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.jeff.schoolappv2">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".Course.EditCourseActivity"></activity>
        <activity android:name=".Term.EditTermActivity" />
        <activity android:name=".Mentor.EditMentorActivity" />
        <activity android:name=".Assessment.EditAssessmentActivity" />
        <activity android:name=".Course.CourseViewActivity" />
        <activity android:name=".Course.CourseMainActivity" />
        <activity android:name=".Term.TermMainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <receiver android:name=".Notification.NotificationPublisher" />
    </application>

</manifest>